
html {
    min-height: 100%;
    position: relative;
  }
  body {
    margin: 0;
    margin-bottom: 40px;
    font-family: 'Roboto Mono', monospace;
    background: linear-gradient(180deg,#CCFFFF,#FFCCCC)
  }

  hr.solid{
      border-top: 1px solid black;
      position:relative;
  }


  .fa {
    width: 20px;
    text-decoration: none;
    margin:5px;
  }
  
 .socialmedia{
     text-align: right;
 }


  .fa:hover {
    opacity: 0.7;
  }



  footer {
    display: flex;
    flex-direction: row;
    background-color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: white;
    font-size: 10px;
  }


button{
    background-color:#FFB6C1 ;
    border: 1px solid black;
    color:black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius:8px;
    transition-duration: 0.4s;
    cursor:pointer;
  }

button:hover{
    background-color:#FFC0CB;
    color: white; 

}


.resultado{
    background-color: #FFC0CB;
    border:1px solid black;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    border-radius: 8px;
    font-size: 50px;
    position: absolute;
    top: 250px;
    left: 600px;
}




.url{
    position: absolute;
    font-size: 10px; 
    top: 10px;
    left: 40px;
}   




h1{
    position: absolute;
    top:100px;
    left: 800px;
}


h2{
    position:absolute;
    top: 200px;
    left: 800px;
}

h3{
    position: absolute;
    top: 300px;
    left: 800px;
    margin-top: auto;
}

.derechos{
    text-align: left;
    flex: auto;
}



.imggithub{
    text-align: right;
    flex: auto;
}

.imgfooter{
    opacity: 0.5;
    text-align: center;
    flex: 50%;
}

.imgfooter:hover{
    opacity: 1.0;
}






/* .social-btns .btn,
.social-btns .btn:before,
.social-btns .btn .fa {
  transition: all 0.35s;
  transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
}
.social-btns .btn:before {
  top: 90%;
  left: -110%;
}
.social-btns .btn .fa {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}
.social-btns .btn.facebook:before {
  background-color: #3b5998;
}
.social-btns .btn.facebook .fa {
  color: #3b5998;
}
.social-btns .btn.twitter:before {
  background-color: #00aff0;
}
.social-btns .btn.twitter .fa {
  color: #00aff0;
}

.social-btns .btn.instagram:before {
  background-color: #bf00ff;
}
.social-btns .btn.instagram .fa {
  color: #bf00ff;
}
.social-btns .btn:focus:before,
.social-btns .btn:hover:before {
  top: -10%;
  left: -10%;
}
.social-btns .btn:focus .fa,
.social-btns .btn:hover .fa {
  color: #fff;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.social-btns {
  height: auto;
  margin-bottom:0;
  text-align: center;
  position: relative;
  top: -40px;
  bottom: 0px;
  left: 697px;
  right: 0;
}
.social-btns .btn {
  display: inline-block;
  background-color: #fff;
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin: 0 10px;
  text-align: center;
  position: relative;
  overflow: hidden;
  border-radius: 28%;
  box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.1);
  opacity: 0.99;
}
.social-btns .btn:before {
  content: "";
  width: 120%;
  height: 120%;
  position: absolute;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.social-btns .btn .fa {
  font-size: 38px;
  vertical-align: middle;
} */