

button{
    background-color: #4CAF50; /* Green */
    border: 2px solid black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 8px;
    transition-duration: 0.4s;
  }

button:hover{
    background-color: #3e8e41;
}



.letra{
    background-color: #4CAF50;
    border:2px solid black;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    border-radius: 8px;
    font-size: 40px;
}

body{
    background: rgb(34,193,195);
    background: radial-gradient(circle, rgba(34,193,195,1) 9%, rgba(253,187,45,1) 100%); 
}

.web{
    font-family:"Kameron";
    font-size: 12px;
    
}


h1{
    position:absolute;
    top: 100px;
    left: 200px;
}

h2{
    position: absolute;
    top: 200px;
    left: 300px;
}