

button{
    background-color: #4CAF50; /* Green */
    border: 2px solid black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
    border-radius: 8px;
    transition-duration: 0.4s;
  }

button:hover{
    background-color: #3e8e41;
}



.letra{
    background-color: #4CAF50;
    border:2px solid black;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    border-radius: 8px;
    font-size: 40px;
}


body{
    background-color: blue;
}